In [1]:
import os
import pandas as pd

In [57]:
def process_population_data(file_path, year):
    # Read the Excel file
    data = pd.read_excel(file_path)
    
    # Drop rows with all NaN values
    data.dropna(how="all", inplace=True)
    
    # Skip the first row
    data = data.iloc[1:]
    
    # Extract column names with NaN values in the first row
    first_row = data.iloc[0]
    columns_with_null = first_row[first_row.isnull()].index
    
    # Drop columns with NaN values
    data.drop(columns=columns_with_null, inplace=True)
    
    # Rename columns
    data.columns = ['LocalityCode', 'LocalityName', 'Total', 'Male', 'Female']
    
    data[["LocalityCode", "Total"]] = data[["LocalityCode", "Total"]].astype(int)

    # Add year column
    data["year"] = year

    rows_index = data[(data["Male"].isna()) | data["Female"].isna()][["Male","Female"]].index

    if len(rows_index) != 0 : 
        if len(rows_index) == 1 :
            data.loc[rows_index,["Male","Female"]] = [(data.loc[rows_index,["Total"]]*0.5).astype(int),(data.loc[rows_index,["Total"]]*0.5).astype(int)]
        elif len(rows_index) > 1 : 
            data.loc[rows_index,["Male","Female"]] = [(data.loc[rows_index,["Total"]]*0.5).astype(int)["Total"],(data.loc[rows_index,["Total"]]*0.5).astype(int)["Total"]]
    # Convert specific columns to integer type
    data[["Female", "Male"]] = data[["Female", "Male"]].astype(int)
    
    # Reshape the DataFrame using pd.melt
    data = pd.melt(data, id_vars=['LocalityCode', 'LocalityName', 'year'],value_vars=['Male', 'Female'], var_name='Gender', value_name='TotalPopulation')
    
    return data

In [36]:
process_population_data("C:\\Users\\tioua\\OneDrive\\Desktop\\BI PROJECT\\Data\\NumberOfInhabitants\\data_2019.xlsx",2019)

ValueError: shape mismatch: value array of shape (2,1) could not be broadcast to indexing result of shape (2,)

In [40]:
def save_to_excel(existing_file, new_data_frame):
    try:
        # Check if the file exists
        if os.path.exists(existing_file):
            # Load existing Excel file
            existing_df = pd.read_excel(existing_file)

            # Append new data frame to the existing data
            updated_df = pd.concat([existing_df, new_data_frame], ignore_index=True)
        else:
            # If the file doesn't exist, use the new data frame
            updated_df = new_data_frame

        # Save the updated data frame back to the Excel file
        updated_df.to_excel(existing_file, index=False)
        print("Data appended successfully.")

    except Exception as e:
        print(f"Error: {e}")

In [54]:
data = pd.read_excel("C:\\Users\\tioua\\OneDrive\\Desktop\\BI PROJECT\\Data\\NumberOfInhabitants\\data_2014.xlsx")
    
    # Drop rows with all NaN values
data.dropna(how="all", inplace=True)
    
    # Skip the first row
data = data.iloc[1:]
    
    # Extract column names with NaN values in the first row
first_row = data.iloc[0]
columns_with_null = first_row[first_row.isnull()].index
    
    # Drop columns with NaN values
data.drop(columns=columns_with_null, inplace=True)
    
    # Rename columns
data.columns = ['LocalityCode', 'LocalityName', 'Total', 'Male', 'Female']
    
    # Add year column
data["year"] = 2014
data

     LocalityCode     LocalityName   Total      Male    Female  year
11              7           SHAHAR     808     412.0     396.0  2014
12             10           TIROSH     456     248.0     208.0  2014
13             11          NIR HEN     483     231.0     251.0  2014
14             13           HAZEVA     561     285.0     277.0  2014
15             15            NO'AM     352     180.0     172.0  2014
...           ...              ...     ...       ...       ...   ...
1217         4000            HAIFA  277082  132906.0  144176.0  2014
1218         5000  TEL AVIV - YAFO  426138  210557.0  215580.0  2014
1219         7000              LOD   72155   35721.0   36433.0  2014
1220         7600             AKKO   47464   23340.0   24124.0  2014
1221         8500            RAMLA   72293   37045.0   35248.0  2014

[1211 rows x 6 columns]

In [55]:
rows_index = data[(data["Male"].isna()) | data["Female"].isna()][["Male","Female"]].index
rows_index

Index([1212], dtype='int64')

In [56]:
len(rows_index)

1

In [51]:
data[["LocalityCode", "Total"]] = data[["LocalityCode", "Total"]].astype(int)

In [52]:
data[(data["Male"].isna()) | data["Female"].isna()][["Male","Female","Total"]].dtypes

Male      float64
Female    float64
Total       int32
dtype: object

In [53]:
data.loc[rows_index,["Male","Female","Total"]]

      Male  Female  Total
1176   NaN     NaN  77445
1208   NaN     NaN  71437

In [46]:
data.loc[rows_index,["Male","Female"]] = [(data.loc[rows_index,["Total"]]*0.5).astype(int)['Total'],(data.loc[rows_index,["Total"]]*0.5).astype(int)['Total']]